/*#principal {
    background-image: url(../img/dique.jpg) no-repeat center center fixed;
    background-size: cover;
}*/

html {
    font-size: 62.5px;
}
body {
    font-size: 16px;
}

.titulo{
    font-size: 2rem;
    text-align: center;
    color: rgba(36, 36, 167, 0.733);
    font-family: 'Rubik';
    font-weight: 700;
    font-style: italic;
}

.formulario{
    font-family: 'Rubik';
}

.check{
    text-align: center;
    font-family: 'Rubik';
    margin-left: auto;
    margin-right: auto;
}

.continuar{
    text-align: center;
    font-family: 'Rubik';
}



h3{
    text-align: center;
    font-family: 'Rubik';
}

.footer{
    color: rgb(255, 255, 255);
    background: black;
    height: 30px;
}