#hero-container {
    height: 100%;
}

#hero-background {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 0%;
    height: 100%;
    transition: 800ms ease-in-out;
    margin-top: -20px;
    margin-left: -8px;
    z-index: -1;
}

#hero-text {
    color: rgba(255, 255, 255, 0.8) ;
}