html {
    height: 100%;
    
}

body {
    background-image: url(/img/dique.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100%;
}

#hero-container {
    text-align: center;
}

#hero-background {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 0;
    height: 100%;
    transition: 800ms ease-in-out;
    margin-top: 0px;
    z-index: -1;
}

#titulo{
    padding-top: 2rem;
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.85);
    font-family: 'Rubik';
    font-weight: 700;
    font-style: italic;
}

.formulario{
    font-family: 'Rubik';
}

#check {
    padding-top: 5rem;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Rubik';
    margin-left: auto;
    margin-right: auto;
}

.continuar{
    text-align: center;
    font-family: 'Rubik';
}


h3{
    text-align: center;
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 20px;
 }

.position-fixed{
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0, 0.733);
    width: 100%;
}

.md-textarea{
    height: 100px;
    width: 100%;
}

