/*#principal {
    background-image: url(../img/dique.jpg) no-repeat center center fixed;
    background-size: cover;
}*/

html {
    font-size: 62.5px;
}
body {
    font-size: 16px;
}

.titulo{
    text-align: center;
    color: rgba(36, 36, 167, 0.733);
    font-family: 'Rubik';
}

.check{
    text-align: center;
}

.continuar{
    text-align: center;
    padding: 48%;
}

h3{
    text-align: center;
}